# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\bp2021-bp2021_igorpejin_milosaleksovski\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
